{
  "$schema": "http://json.schemastore.org/template",
  "author": "Boca Ioan-Doru",
  "classifications": [ "Web", "gRPC", "Microservice" ],
  "identity": "MySolution.GrpcService.Template",
  "name": "My Solution gRPC Service",
  "shortName": "grpcservice",
  "sourceName": "MyGrpcService",
  "tags": {
    "language": "C#",
    "type": "project"
  },
  "postActions": [
    {
      "actionId": "D3EFE16A-2364-4F27-A2E2-4FBD3C0C3A43",
      "args": {
        "projectPath": "./MyGrpcService.csproj"
      },
      "continueOnError": true,
      "manualInstructions": [
        { "text": "Run 'dotnet sln add <PROJECT_FILE_PATH>' to add the new project to your solution." }
      ]
    }
  ]
}